* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Pacifico", serif;
}

body {
	width: 100%;
	height: 100%;
	background-color: rgb(65, 179, 255);
}

a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 11vh;
	width: 100%;
	transition: 1s ease-in-out;
	color: white;
	padding: 2px;
	display: flex;
	position: fixed;
	justify-content: space-evenly;

	align-items: center;
	z-index: 2;
}
nav.rolagem {
	background-color: #ffff;
	transition: 1s ease-in-out;
}

nav.rolagem img {
	width: 60px;
	height: 50px;
	transition: 1s ease-in-out;
}

nav.rolagem a {
	color: rgb(0, 0, 0);
	font-size: 20px;
	transition: 1s ease-in-out;
}

.logo-header {
	width: 110px;
	height: 100px;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}

.mobile-menu {
	cursor: pointer;
	display: none;
}

.mobile-menu div {
	width: 32px;
	height: 3px;
	background-color: white;
	margin: 8px;
}
.div-img {
	background-image: url(./assets/bg-cachorro.jpeg);
	background-size: cover;
	width: 100%;
	height: 940px;
	display: flex;
	align-items: center;
}

.titulo-imagem {
	width: 500px;
	height: 200px;
	position: absolute;
	right: 150px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-sobre {
	background-image: url(assets/bg-sobre.jpg);
	height: 850px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px;
}

.texto-sobre {
	width: 500px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-color: rgb(65, 179, 255);
	text-align: center;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	border-radius: 50px;
	border: 20px solid rgb(245, 67, 215);
	h1 {
		margin-bottom: 20px;
		font-size: 40px;
		color: white;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		font-family: "Roboto", serif;
	}
	p {
		margin-bottom: 20px;
		font-family: "Roboto", serif;
	}
}

.img-sobre {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 500px;
		height: auto;
		border-radius: 50%;
		border: 20px solid rgb(245, 67, 215);
	}
}

.div-servicos {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px;
	font-size: 20px;
}

.item {
	width: 500px;
	height: 400px;
	flex-shrink: 0;
	opacity: 0.5;
	border: 5px solid transparent;
	transition: all 0.5s ease-in-out;
	border-radius: 15px;
}

.current-item {
	opacity: 1;
	border: 5px solid rgb(245, 67, 215);
	box-shadow: 0 0 10px black;
}

.container {
	position: relative;
	padding: 15px;
	max-width: 1000px;
	margin: 50px auto;
}

.gallery-wrapper {
	overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
	display: none;
}

.gallery {
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
}

.arrow-left,
.arrow-right {
	position: absolute;
	top: 200px;
	left: -50px;
	right: auto;
	font-size: 20px;
	line-height: 50px;
	width: 40px;
	text-align: center;
	color: #ffff;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	background: linear-gradient(to left, transparent 0%, black 200%);
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}

.arrow-right {
	left: auto;
	right: -50px;
	background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-right:hover,
.arrow-left:hover {
	opacity: 1;
}

.link-whatsapp img {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.texto-contatos {
	background-color: #000;
	height: 50px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	font-size: 30px;
}

.info-contato {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.info-contato iframe {
	border: 5px solid rgb(245, 67, 215);
}

.infos {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.infos p {
	display: flex;
	align-items: center;
	font-family: "Roboto", serif;
}

.infos a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Roboto", serif;
}

.infos img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

footer {
	background-color: #000;
	color: #fff;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
	font-size: 15px;

	p {
		border-top: 1px solid #fff;
		padding-top: 20px;
		font-family: "Roboto", serif;
	}
}

@media (max-width: 999px) {
	body {
		overflow-x: hidden;
	}
	.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vh;
		height: 92vh;
		background-color: rgba(0, 0, 0, 0.7);
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.nav-list li {
		margin-left: 0;
	}
	.mobile-menu {
		display: block;
	}
}

.nav-list.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* nav.rolagem {
	background-color: #ffff;
	transition: 1s ease-in-out;
}

nav.rolagem img {
	width: 60px;
	height: 50px;
	transition: 1s ease-in-out;
}

nav.rolagem a {
	color: rgb(0, 0, 0);
	font-size: 20px;
	transition: 1s ease-in-out;
}

.logo-header {
	width: 110px;
	height: 100px;
}
/*  
ul {
	display: flex;
	flex-direction: row;
	gap: 60px;
}

li {
	list-style-type: none;
	font-size: 30px;
	font-weight: 600;
	a {
		color: white;
		text-decoration: none;
		font-family: "Roboto", serif;
	}
}

li:hover {
	transform: scale(1.5);
	transition: transform 0.5s;
}

.div-img {
	background-image: url(./assets/bg-cachorro.jpeg);
	background-size: cover;
	width: 100%;
	height: 940px;
	display: flex;
	align-items: center;
}

.titulo-imagem {
	width: 500px;
	height: 200px;
	position: absolute;
	right: 150px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-sobre {
	background-image: url(assets/bg-sobre.jpg);
	height: 850px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px;
}

.texto-sobre {
	width: 500px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-color: rgb(65, 179, 255);
	text-align: center;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	border-radius: 50px;
	border: 20px solid rgb(245, 67, 215);
	h1 {
		margin-bottom: 20px;
		font-size: 40px;
		color: white;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		font-family: "Roboto", serif;
	}
	p {
		margin-bottom: 20px;
		font-family: "Roboto", serif;
	}
}

.img-sobre {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 500px;
		height: auto;
		border-radius: 50%;
		border: 20px solid rgb(245, 67, 215);
	}
}

.div-servicos {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px;
	font-size: 20px;
}

.item {
	width: 500px;
	height: 400px;
	flex-shrink: 0;
	opacity: 0.5;
	border: 5px solid transparent;
	transition: all 0.5s ease-in-out;
	border-radius: 15px;
}

.current-item {
	opacity: 1;
	border: 5px solid rgb(245, 67, 215);
	box-shadow: 0 0 10px black;
}

.container {
	position: relative;
	padding: 15px;
	max-width: 1000px;
	margin: 50px auto;
}

.gallery-wrapper {
	overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
	display: none;
}

.gallery {
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
}

.arrow-left,
.arrow-right {
	position: absolute;
	top: 200px;
	left: -50px;
	right: auto;
	font-size: 20px;
	line-height: 50px;
	width: 40px;
	text-align: center;
	color: #ffff;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	background: linear-gradient(to left, transparent 0%, black 200%);
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}

.arrow-right {
	left: auto;
	right: -50px;
	background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-right:hover,
.arrow-left:hover {
	opacity: 1;
}

.link-whatsapp img {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.texto-contatos {
	background-color: #000;
	height: 50px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	font-size: 30px;
}

.info-contato {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.info-contato iframe {
	border: 5px solid rgb(245, 67, 215);
}

.infos {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.infos p {
	display: flex;
	align-items: center;
	font-family: "Roboto", serif;
}

.infos a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Roboto", serif;
}

.infos img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

footer {
	background-color: #000;
	color: #fff;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
	font-size: 15px;

	p {
		border-top: 1px solid #fff;
		padding-top: 20px;
		font-family: "Roboto", serif;
	}
} */
